<div class="container body-content">

    <div class="menu-list">
        <div class="item">
            <a class="blue-btn">
                Добавить проект
            </a>
            <a class="blue-btn">
                Добавить группу
            </a>
        </div>
        <div class="filter-clients item">
            <i class="icon icon-squad"></i>
            <i class="icon icon-row"></i>

        </div>
    </div>
    <div class="list-clients col-md-12">
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                    <span class="active-group"></span>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <span class="title">
                    Artizana Fashion Salon
                </span>
                <img src="~/asserts/img/Temp/tem-client.png" />
                <span class="favorit"><i class="icon-star active"></i></span>
            </div>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                <li class="user row">
                                    <div>Без группы</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 1</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 2</div>
                                </li>
                                <li class="user row">
                                    <div>Группа 3</div>
                                </li>
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="list-group">

        <div class="section-group col-md-12">
            <div class="title-group">Избранное</div>
            <div class="groups ">
                <div class="col-md-9 grey-block">
                    <div>
                        <img src="~/asserts/img/Temp/tem-client.png" />
                    </div>
                    <div class="group-info">
                        <span><i class="icon icon-star active"></i></span>
                        <span class="title"> Artizana Fashion Salon</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-users">
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">A</span>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">K</span>
                        </div>
                        <div class="setting">
                            <div class="dropdown">
                                <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                                <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                    <li>
                                        <div class="title black">
                                            Сменить группу
                                        </div>
                                    </li>
                                    <li class="user row">
                                        <div>Без группы</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 1</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 2</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 3</div>
                                    </li>
                                    <li class="user row">
                                        <div>Архивировать</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="groups ">
                <div class="col-md-9 grey-block">
                    <div>
                        <img src="~/asserts/img/Temp/tem-client.png" />
                    </div>
                    <div class="group-info">
                        <span><i class="icon icon-star active"></i></span>
                        <span class="title"> Artizana Fashion Salon</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-users">
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">A</span>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">K</span>
                        </div>
                        <div class="setting">
                            <div class="dropdown">
                                <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                                <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                    <li>
                                        <div class="title black">
                                            Сменить группу
                                        </div>
                                    </li>
                                    <li class="user row">
                                        <div>Без группы</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 1</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 2</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 3</div>
                                    </li>
                                    <li class="user row">
                                        <div>Архивировать</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section-group  col-md-12">
            <div class="title-group">Без группы</div>
            <div class="groups new-project-section ">
                <div class="col-md-9 grey-block">

                    <div class="group-info">

                        <span class="new-project"> Создать новый проект</span>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="groups ">
                <div class="col-md-9 grey-block">
                    <div>
                        <img src="~/asserts/img/Temp/tem-client.png" />
                    </div>
                    <div class="group-info">
                        <span><i class="icon icon-star"></i></span>
                        <span class="title"> Artizana Fashion Salon</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-users">
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">A</span>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">K</span>
                        </div>
                        <div class="setting">
                            <div class="dropdown">
                                <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                                <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                    <li>
                                        <div class="title black">
                                            Сменить группу
                                        </div>
                                    </li>
                                    <li class="user row">
                                        <div>Без группы</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 1</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 2</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 3</div>
                                    </li>
                                    <li class="user row">
                                        <div>Архивировать</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="groups ">
                <div class="col-md-9 grey-block">
                    <div>
                        <img src="~/asserts/img/Temp/tem-client.png" />
                    </div>
                    <div class="group-info">
                        <span><i class="icon icon-star "></i></span>
                        <span class="title"> Artizana Fashion Salon</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-users">
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">A</span>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">K</span>
                        </div>
                        <div class="setting">
                            <div class="dropdown">
                                <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                                <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                    <li>
                                        <div class="title black">
                                            Сменить группу
                                        </div>
                                    </li>
                                    <li class="user row">
                                        <div>Без группы</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 1</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 2</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 3</div>
                                    </li>
                                    <li class="user row">
                                        <div>Архивировать</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="section-group col-md-12">
            <div class="title-group">Группа 1</div>
            <div class="groups ">
                <div class="col-md-9 grey-block">
                    <div>
                        <img src="~/asserts/img/Temp/tem-client.png" />
                    </div>
                    <div class="group-info">
                        <span><i class="icon icon-star active"></i></span>
                        <span class="title"> Artizana Fashion Salon</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-users">
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">A</span>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">K</span>
                        </div>
                        <div class="setting">
                            <div class="dropdown">
                                <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                                <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                    <li>
                                        <div class="title black">
                                            Сменить группу
                                        </div>
                                    </li>
                                    <li class="user row">
                                        <div>Без группы</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 1</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 2</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 3</div>
                                    </li>
                                    <li class="user row">
                                        <div>Архивировать</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="groups ">
                <div class="col-md-9 grey-block">
                    <div>
                        <img src="~/asserts/img/Temp/tem-client.png" />
                    </div>
                    <div class="group-info">
                        <span><i class="icon icon-star active"></i></span>
                        <span class="title"> Artizana Fashion Salon</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-users">
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">A</span>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">K</span>
                        </div>
                        <div class="setting">
                            <div class="dropdown">
                                <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                                <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                    <li>
                                        <div class="title black">
                                            Сменить группу
                                        </div>
                                    </li>
                                    <li class="user row">
                                        <div>Без группы</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 1</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 2</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 3</div>
                                    </li>
                                    <li class="user row">
                                        <div>Архивировать</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="groups ">
                <div class="col-md-9 grey-block">
                    <div>
                        <img src="~/asserts/img/Temp/tem-client.png" />
                    </div>
                    <div class="group-info">
                        <span><i class="icon icon-star active"></i></span>
                        <span class="title"> Artizana Fashion Salon</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-users">
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">A</span>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">K</span>
                        </div>
                        <div class="setting">
                            <div class="dropdown">
                                <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                                <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                    <li>
                                        <div class="title black">
                                            Сменить группу
                                        </div>
                                    </li>
                                    <li class="user row">
                                        <div>Без группы</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 1</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 2</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 3</div>
                                    </li>
                                    <li class="user row">
                                        <div>Архивировать</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="groups ">
                <div class="col-md-9 grey-block">
                    <div>
                        <img src="~/asserts/img/Temp/tem-client.png" />
                    </div>
                    <div class="group-info">
                        <span><i class="icon icon-star active"></i></span>
                        <span class="title"> Artizana Fashion Salon</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-users">
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">A</span>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                        </div>
                        <div class="user">
                            <div class="image-circle"></div>
                            <span class="name">K</span>
                        </div>
                        <div class="setting">
                            <div class="dropdown">
                                <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                                <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                    <li>
                                        <div class="title black">
                                            Сменить группу
                                        </div>
                                    </li>
                                    <li class="user row">
                                        <div>Без группы</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 1</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 2</div>
                                    </li>
                                    <li class="user row">
                                        <div>Группа 3</div>
                                    </li>
                                    <li class="user row">
                                        <div>Архивировать</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
