<div class="modal fade add" id="addProject" data-bind="with:ViewModel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body add-project-body">
                <div class="input-block">
                    <input type="text" name="name" placeholder="Введите название проекта" data-bind="textInput:NewProject.Name" />
                </div>
                <div class="input-block">
                    <span class="error" data-bind="text:ErrorCreateProject"></span>
                </div>
                <div>
                    <button class="blue-btn-active" data-bind="click:CreateProject">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>
