
<div id="container-subscribers" data-bind="chartsubscribers"></div>


<div class="stat-text-box col-md-6">
    <div class="stat row">
        <div class="col-md-4 section">
            <div class="item title">
                Дата
            </div>
            <div class="item">
                01.04.2018
            </div>
            <div class="item">
                28.03.2018
            </div>
            <div></div>
        </div>
        <div class="col-md-4 section">
            <div class="item title">
                Количество
                подписчиков
            </div>
            <div class="item">
                8800
            </div>
            <div class="item">
                8000
            </div>
            <div></div>
        </div>
        <div class="col-md-4 section br-none">
            <div class="item title">
                Изменения
            </div>
            <div>
                <span class="green">+800</span>
            </div>
            <div class="item">
                <span class="red">-400</span>
            </div>
            <div></div>
        </div>
    </div>

</div>

