<div class="container body-content">
    <div class="head-box col-md-6">
        <div class="titile-blue">
            Ваша команда
        </div>
        <div class="description-title">
            Тут вы можете добавить участников команды, для того чтобы
            в дальнейшем было проще подключать их в проекты.
        </div>
    </div>
    <div class="col-md-10 table-flex">
        <div class="tr">
            <div class="col-md-12 item-user">
                <div class="dropdown">
                    <a id="drop-menu" role="button" data-toggle="dropdown" >
                        <div class="icon-circle blue">+</div>
                        <div class="add-text">Добавить участника команды</div>
                    </a>

                    <ul class="dropdown-menu team-add-menu" role="menu" aria-labelledby="drop-setting">
                        <i class="icon icon-close close">

                        </i>
                        <li>
                            <div class="add-user col-md-12 item ">
                                На почту участника команды
                                придет приглашение с ссылкой
                            </div>
                        </li>
                        <li>
                            <div class="add-user col-md-12 item ">
                                <input type="text" placeholder="Имя" />
                            </div>
                        </li>
                        <li>
                            <div class="add-user col-md-12 item ">
                                <input type="email" placeholder="Email" />
                            </div>
                        </li>
                        <li>
                            <div class="add-user col-md-12 item ">
                                <button class="blue-btn active">Добавить</button>
                            </div>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
        <div class="tr">
            <div class="col-md-3 item-user">
                <div class="image-circle"></div>
                <div class="text name">dois admin</div>
            </div>
            <div class="col-md-3 item-user">
                <div class="text">dois@gmail.com</div>
            </div>
            <div class="col-md-3 item-user">
                <div class="text">Участвует в 7 проектах</div>
            </div>
            <div class="col-md-3 item-user">
                <a>Удалить</a>
            </div>
        </div>
        <div class="tr">
            <div class="col-md-3 item-user">
                <div class="image-circle"></div>
                <div class="text name">dois admin</div>
            </div>
            <div class="col-md-3 item-user">
                <div class="text">dois@gmail.com</div>
            </div>
            <div class="col-md-3 item-user">
                <div class="text">Участвует в 7 проектах</div>
            </div>
            <div class="col-md-3 item-user">
                <a>Удалить</a>
            </div>
        </div>
        <div class="tr">
            <div class="col-md-3 item-user">
                <div class="image-circle"></div>
                <div class="text name">dois admin</div>
            </div>
            <div class="col-md-3 item-user">
                <div class="text">dois@gmail.com</div>
            </div>
            <div class="col-md-3 item-user">
                <div class="text">Участвует в 7 проектах</div>
            </div>
            <div class="col-md-3 item-user">
                <a>Удалить</a>
            </div>
        </div>

    </div>

</div>