<div class="list-group">

    <div class="section-group col-md-12">
        <div class="title-group"></div>
        <!--ko foreach:ViewModel.Projects-->
        <div class="groups ">

            <div class="col-md-9 grey-block">

                <div>
                    <a data-bind="attr:{href:'@Url.Action("Settings","Client")/'+Id()}">
                        <img style="width: 301px" data-bind="attr:{src:ImageUrl()}" />
                    </a>
                </div>
                <div class="group-info">
                    <span class="favorit" data-bind="click:SetFavorite"><i class="icon-star" data-bind="css:{'active':IsFavorite()}"></i></span>
                    <span class="title" data-bind="text:Name"></span>
                </div>

            </div>

            <div class="col-md-3">
                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>

                                <li class="user row" data-bind="click:SetGroup.bind($data,'','')">
                                    <div>Без группы</div>
                                    <!--ko if:GroupId() == ''-->
                                    <span class="active-group"></span>
                                    <!--/ko-->
                                </li>
                                <!--ko foreach:ViewModel.Groups-->

                                <li class="user row" data-bind="click:$parent.SetGroup.bind($parent,Id(),Name())">
                                    <div data-bind="text:Name">Группа 1</div>
                                    <!--ko if:$parent.GroupId() == Id()-->
                                    <span class="active-group"></span>
                                    <!--/ko-->
                                </li>
                                <!--/ko-->
                                <li class="user row" data-bind="click:ViewModel.SetArchive.bind(ViewModel,Id())">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/ko-->

    </div>



</div>