
<div class="row">
    <div class="list-clients col-md-12" data-bind="foreach:ViewModel.Projects">
        <div class="client">
            <a data-bind="attr:{href:'@Url.Action("Settings","Client")/'+Id()}">
                <div class="image">
                    <span class="title" data-bind="text:Name">

                    </span>
                    <img data-bind="attr:{src:ImageUrl()}" />
                    <span class="favorit"><i class="icon-star active"></i></span>
                </div>
            </a>
            <div class="menu-clients">

                <div class="list-users">
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">A</span>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                    </div>
                    <div class="user">
                        <div class="image-circle"></div>
                        <span class="name">K</span>
                    </div>
                    <div class="setting">
                        <div class="dropdown">
                            <a id="drop-setting" role="button" data-toggle="dropdown" href="#">    <i class="icon-settings"></i></a>

                            <ul class="dropdown-menu users-menu" role="menu" aria-labelledby="drop-setting">

                                <li>
                                    <div class="title black">
                                        Сменить группу
                                    </div>
                                </li>
                                
                                <li class="user row" data-bind="click:SetGroup.bind($data,'')">
                                    <div>Без группы</div>
                                    <!--ko if:GroupId() == ''-->
                                    <span class="active-group"></span>
                                    <!--/ko-->
                                </li>
                                <!--ko foreach:ViewModel.Groups-->
                                
                                <li class="user row" data-bind="click:$parent.SetGroup.bind($parent,Id())">
                                    <div data-bind="text:Name">Группа 1</div>
                                    <!--ko if:$parent.GroupId() == Id()-->
                                    <span class="active-group"></span>
                                    <!--/ko-->
                                </li>
                                <!--/ko-->
                                <li class="user row">
                                    <div>Архивировать</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>