<div class="navbar-header" data-bind="with:LayoutViewModel">
    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@
    <div class="dropdown">
        <a id="drop-setting" class="navbar-brand" role="button" data-toggle="dropdown" href="#">Проекты</a>

        <ul class="dropdown-menu project-menu" role="menu" aria-labelledby="drop-setting">

            @*<li>
            <div align="center" class="archiv-projects">
                <span>Архивированные проекты</span>
            </div>
        </li>*@

            <li>
                <div align="center">
                    <input type="text" class="search-project" data-bind="textInput:Search,enterkey:GetProjects" placeholder="Поиск по названию..." />
                </div>
            </li>



            <!--ko if:Projects().filter(function(item){return item.IsFavorite()}).length >0-->
            <li class="title-section">
                <i class="icon-star-mini"></i>
                <span class="title">Избранные</span>
            </li>
            <!--/ko-->
            <!--ko foreach:Projects().filter(function(item){return item.IsFavorite()})-->
            <li class="project col-md-12">
                <a data-bind="attr:{href:'@Url.Action("Settings","Client")/'+Id()}">
                    <div>
                        <img data-bind="attr:{src:ImageUrl}" />
                        <div class="project-info">
                            <span data-bind="click:SetFavorite"><i class="icon icon-star-gold"></i></span>
                            <span class="title" data-bind="text:Name"> </span>
                        </div>
                    </div>
                </a>
            </li>
            <!--/ko-->


            <!--ko foreach:GroupProjects-->
            <li class="title-section">
                <!--ko if:key != ''-->
                <span class="title" data-bind="text:key"></span>
                <!--/ko-->
                <!--ko if:key == ''-->
                <span class="title">Без группы</span>
                <!--/ko-->
            </li>
            <!--ko foreach:value-->
            <li class="project col-md-12">
                <a data-bind="attr:{href:'@Url.Action("Settings","Client")/'+Id()}">
                    <div>
                        <img data-bind="attr:{src:ImageUrl}" />
                        <div class="project-info">
                            <span><i class="icon icon-star"></i></span>
                            <span class="title" data-bind="text:Name"> </span>
                        </div>
                    </div>
                </a>
            </li>
            <!--/ko-->
            <!--/ko-->



            <!--ko if:Projects().filter(function(item){return item.IsArhive()}).length >0 -->
            <li class="title-section">
                <i class="icon-star-mini"></i>
                <span class="title">Архивированные проекты</span>
            </li>
            <!--/ko-->
            <!--ko foreach:Projects().filter(function(item){return item.IsArhive()})-->
            <li class="project col-md-12">
                <a data-bind="attr:{href:'@Url.Action("Settings","Client")/'+Id()}">
                    <div>
                        <img data-bind="attr:{src:ImageUrl}" />
                        <div class="project-info">
                            <span><i class="icon icon-star"></i></span>
                            <span class="title" data-bind="text:Name"> </span>
                        </div>
                    </div>
                </a>
            </li>
            <!--/ko-->




        </ul>
    </div>
    @*@Html.ActionLink("Проекты", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
</div>
