
<div class="social-choose" data-bind="foreach:Social.Socials">
    <div class="form-group row item">
        <div>
            <label class="switch">
                <input type="checkbox" data-bind="checked:IsActive">
                <span class="switcher round"></span>
            </label>
        </div>
        <div>
            <i class="icon  " data-bind="iconName:Name,css:{active:IsActive}"></i>
        </div>
        <div>
            Belșug Outlet
        </div>
    </div>

</div>